@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1> 
</div>
<button onclick="notify('Howdie', 'mydata', 'MESSAGE FOR NOTIFICATION')">Notify</button>
<button onclick="msg('Hello')">Msg</button>