@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1> 
</div>
<button onclick="notify('Howdie', 'mydata', 'MESSAGE FOR NOTIFICATION')">Notify</button>
<button onclick="msg('Hello')">Msg</button>




<a href="/Reports/Calendar/Index">Calendar</a>
<a href="/Reports/Chart/Index">Chart</a>
<a href="/Reports/Excel/Index">Excel</a>
<a href="/Reports/File/Index">File</a>
<a href="/Reports/Home/Index">Home</a>
<a href="/Reports/Map/Index">Map</a>
<a href="/Reports/Pdf/Index">Pdf</a>
<a href="/Reports/Web/Index">Web</a>
<a href="/Reports/Zip/Index">Zip</a>



<a href="/Reports/Calendar/Index" data-ajax="true" data-ajax-update="#maincontent">Calendar</a>
<a href="/Reports/Chart/Index" data-ajax="true" data-ajax-update="#maincontent">Chart</a>
<a href="/Reports/Excel/Index" data-ajax="true" data-ajax-update="#maincontent">Excel</a>
<a href="/Reports/File/Index" data-ajax="true" data-ajax-update="#maincontent">File</a>
<a href="/Reports/Home/Index" data-ajax="true" data-ajax-update="#maincontent">Home</a>
<a href="/Reports/Map/Index" data-ajax="true" data-ajax-update="#maincontent">Map</a>
<a href="/Reports/Pdf/Index" data-ajax="true" data-ajax-update="#maincontent">Pdf</a>
<a href="/Reports/Web/Index" data-ajax="true" data-ajax-update="#maincontent">Web</a>
<a href="/Reports/Zip/Index" data-ajax="true" data-ajax-update="#maincontent">Zip</a>