@*@{
    ViewData["Title"] = "Index";
    Layout = ViewBag.NoLayout == true ? null : "_Layout";
}
<h1>File</h1>
<a asp-area="Reports" asp-controller="File" asp-action="Test" data-ajax="true" data-ajax-update="#maincontent">Test File Download</a>*@

<h1>sdfsdfsdfsdf</h1>